<div class="header pb-6">
	<div class=" container-fluid">
		<div class=" header-body">
			<div class=" row align-items-center py-4">
				<div class=" col-lg-6 col-7">
					<h6 class=" h2 text-dark d-inline-block mb-0">Dashboard</h6>

					<nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
						<ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
							<li class=" breadcrumb-item">
								<a href="javascript:void(0)"> <i class="fas fa-home text-dark"> </i> </a>
							</li>
						</ol>
					</nav>
				</div>
			</div>

			<div class=" row">
				<div class=" col-xl-3 col-md-6">
					<div class=" card card-stats">
						<div class=" card-body">
							<div class=" row">
								<div class=" col">
									<h5 class=" card-title text-uppercase text-muted mb-0">
										Total Subscribers
									</h5>

									<span class=" h2 font-weight-bold mb-0"> 350,897 </span>
								</div>

								<div class=" col-auto">
									<div class=" icon icon-shape bg-gradient-red text-white rounded-circle shadow">
										<i class="fas fa-user-friends"> </i>
									</div>
								</div>
							</div>

							<p class=" mt-3 mb-0 text-sm">
								<span class=" text-success mr-2">
									<i class=" fa fa-arrow-up"> </i> 3.48%
								</span>

								<span class=" text-nowrap"> Since last month </span>
							</p>
						</div>
					</div>
				</div>

				<div class=" col-xl-3 col-md-6">
					<div class=" card card-stats">
						<div class=" card-body">
							<div class=" row">
								<div class=" col">
									<h5 class=" card-title text-uppercase text-muted mb-0">
										Facebook Posts
									</h5>

									<span class=" h2 font-weight-bold mb-0"> 2,356 </span>
								</div>

								<div class=" col-auto">
									<div class=" icon icon-shape bg-gradient-info text-white rounded-circle shadow">
										<i class="fab fa-facebook-square"> </i>
									</div>
								</div>
							</div>

							<p class=" mt-3 mb-0 text-sm">
								<span class=" text-success mr-2">
									<i class=" fa fa-arrow-up"> </i> 3.48%
								</span>

								<span class=" text-nowrap"> Since last month </span>
							</p>
						</div>
					</div>
				</div>

				<div class=" col-xl-3 col-md-6">
					<div class=" card card-stats">
						<div class=" card-body">
							<div class=" row">
								<div class=" col">
									<h5 class=" card-title text-uppercase text-muted mb-0">
										Twitter Posts
									</h5>

									<span class=" h2 font-weight-bold mb-0"> 2924 </span>
								</div>

								<div class=" col-auto">
									<div class=" icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
										<i class="fab fa-twitter-square"> </i>
									</div>
								</div>
							</div>

							<p class=" mt-3 mb-0 text-sm">
								<span class=" text-success mr-2">
									<i class=" fa fa-arrow-up"> </i> 3.48%
								</span>

								<span class=" text-nowrap"> Since last month </span>
							</p>
						</div>
					</div>
				</div>

				<div class=" col-xl-3 col-md-6">
					<div class=" card card-stats">
						<div class=" card-body">
							<div class=" row">
								<div class=" col">
									<h5 class=" card-title text-uppercase text-muted mb-0">
										Instagram Posts
									</h5>

									<span class=" h2 font-weight-bold mb-0"> 49,65% </span>
								</div>

								<div class=" col-auto">
									<div class=" icon icon-shape bg-gradient-green text-white rounded-circle shadow">
										<i class="fab fa-instagram"> </i>
									</div>
								</div>
							</div>

							<p class=" mt-3 mb-0 text-sm">
								<span class=" text-success mr-2">
									<i class=" fa fa-arrow-up"> </i> 3.48%
								</span>

								<span class=" text-nowrap"> Since last month </span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid mt--6">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header bg-secondary">
					<h6 class="text-muted text-uppercase ls-1 mb-1">Analysis</h6>
					<h5 class="h3 mb-0">Total by Media Types</h5>
				</div>

				<div class="card-body">
					<div class="chart">
						<div id="chartdiv" style="width: 100%; height: 100%"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header bg-secondary">
					<h5 class="m-0">Digital Asset Under SC</h5>
				</div>
				<div class="card-body">
					<ul class=" list-group list-group-flush list">
						<li class=" list-group-item px-0">
							<div class=" row align-items-center">
								<div class=" col-auto">
									<a class=" avatar rounded-circle" href="javascript:void(0)">
										<i class="fas fa-tags"></i>
									</a>
								</div>

								<div class=" col ml--2">
									<h4 class=" mb-0">
										<a href="javascript:void(0)"> Suruhanjaya </a>
									</h4>

									<span class=" text-success"> ● </span>

									<small> Active </small>
								</div>

								<div class=" col-auto">
									<button class=" btn btn-sm btn-primary" type="button">
										Details
									</button>
								</div>
							</div>
						</li>

						<li class=" list-group-item px-0">
							<div class=" row align-items-center">
								<div class=" col-auto">
									<a class=" avatar rounded-circle" href="javascript:void(0)">
										<i class="fas fa-tags"></i>
									</a>
								</div>

								<div class=" col ml--2">
									<h4 class=" mb-0">
										<a href="javascript:void(0)"> Invest SMART </a>
									</h4>

									<span class=" text-warning"> ● </span>

									<small> Inactive </small>
								</div>

								<div class=" col-auto">
									<button class=" btn btn-sm btn-primary" type="button">
										Details
									</button>
								</div>
							</div>
						</li>

						<li class=" list-group-item px-0">
							<div class=" row align-items-center">
								<div class=" col-auto">
									<a class=" avatar rounded-circle" href="javascript:void(0)">
										<i class="fas fa-tags"></i>
									</a>
								</div>

								<div class=" col ml--2">
									<h4 class=" mb-0">
										<a href="javascript:void(0)"> SIDC </a>
									</h4>

									<span class=" text-warning"> ● </span>

									<small> Inactive </small>
								</div>

								<div class=" col-auto">
									<button class=" btn btn-sm btn-primary" type="button">
										Details
									</button>
								</div>
							</div>
						</li>

						<li class=" list-group-item px-0">
							<div class=" row align-items-center">
								<div class=" col-auto">
									<a class=" avatar rounded-circle" href="javascript:void(0)">
										<i class="fas fa-tags"></i>
									</a>
								</div>

								<div class=" col ml--2">
									<h4 class=" mb-0">
										<a href="javascript:void(0)"> SDREC </a>
									</h4>

									<span class=" text-success"> ● </span>

									<small> Active </small>
								</div>

								<div class=" col-auto">
									<button class=" btn btn-sm btn-primary" type="button">
										Details
									</button>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<div class="card-header bg-secondary">
					<h5 class="m-0">To-do List</h5>
				</div>
				<div class="card-body p-0">
					<ul class=" list-group list-group-flush" data-toggle="checklist">
						<li class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4">
							<div class=" checklist-item checklist-item-success">
								<div class=" checklist-info">
									<h5 class=" checklist-title mb-0">Meeting at Dewan A</h5>

									<small> 10:30 AM </small>
								</div>

								<div>
									<div class=" custom-control custom-checkbox custom-checkbox-success">
										<input checked="checked" class=" custom-control-input" id="chk-todo-task-1"
											type="checkbox" />

										<label class=" custom-control-label" for="chk-todo-task-1">
										</label>
									</div>
								</div>
							</div>
						</li>

						<li class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4">
							<div class=" checklist-item checklist-item-warning">
								<div class=" checklist-info">
									<h5 class=" checklist-title mb-0">Webinar @ scm.com.my</h5>

									<small> 11:30 AM </small>
								</div>

								<div>
									<div class=" custom-control custom-checkbox custom-checkbox-warning">
										<input class=" custom-control-input" id="chk-todo-task-2" type="checkbox" />

										<label class=" custom-control-label" for="chk-todo-task-2">
										</label>
									</div>
								</div>
							</div>
						</li>

						<li class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4">
							<div class=" checklist-item checklist-item-info">
								<div class=" checklist-info">
									<h5 class=" checklist-title mb-0">TOT at Dewan C</h5>

									<small> 3:30 PM </small>
								</div>

								<div>
									<div class=" custom-control custom-checkbox custom-checkbox-info">
										<input class=" custom-control-input" id="chk-todo-task-3" type="checkbox" />

										<label class=" custom-control-label" for="chk-todo-task-3">
										</label>
									</div>
								</div>
							</div>
						</li>

						<li class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4">
							<div class=" checklist-item checklist-item-danger">
								<div class=" checklist-info">
									<h5 class=" checklist-title mb-0">Training Session</h5>

									<small> 4:00 PM </small>
								</div>

								<div>
									<div class=" custom-control custom-checkbox custom-checkbox-danger">
										<input checked="checked" class=" custom-control-input" id="chk-todo-task-4"
											type="checkbox" />

										<label class=" custom-control-label" for="chk-todo-task-4">
										</label>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<div class="card-header bg-secondary">
					<h5 class="m-0">Media Performance</h5>
				</div>
				<div class="card-body">
					<ul class=" list-group list-group-flush list">
						<li class=" list-group-item px-0">
							<div class=" row align-items-center">
								<div class=" col-auto">
									<a class=" avatar rounded-circle" href="javascript:void(0)">
										<i class="fab fa-facebook-square"></i>
									</a>
								</div>

								<div class=" col">
									<h5>Facebook</h5>

									<div class="progress-xs mb-0">
										<progressbar type="warning" [value]="60"> </progressbar>
									</div>
								</div>
							</div>
						</li>

						<li class=" list-group-item px-0">
							<div class=" row align-items-center">
								<div class=" col-auto">
									<a class=" avatar rounded-circle" href="javascript:void(0)">
										<i class="fab fa-twitter-square"></i>
									</a>
								</div>

								<div class=" col">
									<h5>Twitter</h5>

									<div class="progress-xs mb-0">
										<progressbar type="success" [value]="100"> </progressbar>
									</div>
								</div>
							</div>
						</li>

						<li class=" list-group-item px-0">
							<div class=" row align-items-center">
								<div class=" col-auto">
									<a class=" avatar rounded-circle" href="javascript:void(0)">
										<i class="fab fa-instagram"></i>
									</a>
								</div>

								<div class=" col">
									<h5>Instagram</h5>

									<div class="progress-xs mb-0">
										<progressbar type="danger" [value]="72"> </progressbar>
									</div>
								</div>
							</div>
						</li>

						<li class=" list-group-item px-0">
							<div class=" row align-items-center">
								<div class=" col-auto">
									<a class=" avatar rounded-circle" href="javascript:void(0)">
										<i class="fab fa-youtube"></i>
									</a>
								</div>

								<div class=" col">
									<h5>Youtube</h5>

									<div class="progress-xs mb-0">
										<progressbar type="info" [value]="90"> </progressbar>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>