<div class="header pb-6">
    <div class=" container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Social Analysis</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-chart-area text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h6 class="text-muted text-uppercase ls-1 mb-1">Chart</h6>
                    <h5 class="h3 mb-0">Media Type Mention</h5>
                </div>
                <div class="chart">
                    <div id="chartdiv" style="width: 100%; height: 100%"></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h6 class="text-muted text-uppercase ls-1 mb-1">Chart</h6>
                    <h5 class="h3 mb-0">Rating</h5>
                </div>
                <div class="chart">
                    <div id="chartdiv1" style="width: 100%; height: 100%"></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h6 class="text-muted text-uppercase ls-1 mb-1">Chart</h6>
                    <h5 class="h3 mb-0">Mentions</h5>
                </div>
                <div class="chart">
                    <div id="chartdiv2" style="width: 100%; height: 100%"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h5 class="h3 mb-0">Mentions</h5>
                </div>
                <div class="card-body p-0">
                    <div class=" list-group list-group-flush">
                        <a class=" list-group-item list-group-item-action flex-column align-items-start py-4 px-4"
                            href="javascript:void(0)">
                            <div class=" d-flex w-100 justify-content-between">
                                <div>
                                    <div class=" d-flex w-100 align-items-center">
                                        <a class=" avatar avatar-xs mr-2 bg-white">
                                            <i class="fab fa-facebook text-blue"></i>
                                        </a>

                                        <h5 class=" mb-1">Facebook</h5>
                                    </div>
                                </div>

                                <small> 2 hrs ago </small>
                            </div>

                            <h4 class=" mt-3 mb-1">Aina</h4>

                            <p class=" text-sm mb-0">
                                As the prefered partner, Bursa Malaysia offers a fair and orderly market that is easily accessible with diverse and innovative producs and services
                            </p>
                        </a>

                        <a class=" list-group-item list-group-item-action flex-column align-items-start py-4 px-4"
                            href="javascript:void(0)">
                            <div class=" d-flex w-100 justify-content-between">
                                <div>
                                    <div class=" d-flex w-100 align-items-center">
                                        <a class=" avatar avatar-xs mr-2 bg-white">
                                            <i class="fab fa-twitter text-blue"></i>
                                        </a>

                                        <h5 class=" mb-1">Twitter</h5>
                                    </div>
                                </div>

                                <small> 1 day ago </small>
                            </div>

                            <h4 class=" mt-3 mb-1">
                                <span class=" text-info"> ● </span> Misbun
                            </h4>

                            <p class=" text-sm mb-0">
                                As the prefered partner, Bursa Malaysia offers a fair and orderly market that is easily accessible with diverse and innovative producs and services
                            </p>
                        </a>

                        <a class=" list-group-item list-group-item-action flex-column align-items-start py-4 px-4"
                            href="javascript:void(0)">
                            <div class=" d-flex w-100 justify-content-between">
                                <div>
                                    <div class=" d-flex w-100 align-items-center">
                                        <a class=" avatar avatar-xs mr-2 bg-white">
                                            <i class="fab fa-facebook text-blue"></i>
                                        </a>

                                        <h5 class=" mb-1">Facebook</h5>
                                    </div>
                                </div>

                                <small> 2 hrs ago </small>
                            </div>

                            <h4 class=" mt-3 mb-1">Aina</h4>

                            <p class=" text-sm mb-0">
                                As the prefered partner, Bursa Malaysia offers a fair and orderly market that is easily accessible with diverse and innovative producs and services
                            </p>
                        </a>

                        <a class=" list-group-item list-group-item-action flex-column align-items-start py-4 px-4"
                            href="javascript:void(0)">
                            <div class=" d-flex w-100 justify-content-between">
                                <div>
                                    <div class=" d-flex w-100 align-items-center">
                                        <a class=" avatar avatar-xs mr-2 bg-white">
                                            <i class="fab fa-twitter text-blue"></i>
                                        </a>

                                        <h5 class=" mb-1">Twitter</h5>
                                    </div>
                                </div>

                                <small> 1 day ago </small>
                            </div>

                            <h4 class=" mt-3 mb-1">
                                <span class=" text-info"> ● </span> Misbun
                            </h4>

                            <p class=" text-sm mb-0">
                                As the prefered partner, Bursa Malaysia offers a fair and orderly market that is easily accessible with diverse and innovative producs and services
                            </p>
                        </a>

                        <a class=" list-group-item list-group-item-action flex-column align-items-start py-4 px-4"
                            href="javascript:void(0)">
                            <div class=" d-flex w-100 justify-content-between">
                                <div>
                                    <div class=" d-flex w-100 align-items-center">
                                        <a class=" avatar avatar-xs mr-2 bg-white">
                                            <i class="fab fa-facebook text-blue"></i>
                                        </a>

                                        <h5 class=" mb-1">Facebook</h5>
                                    </div>
                                </div>

                                <small> 2 hrs ago </small>
                            </div>

                            <h4 class=" mt-3 mb-1">Aina</h4>

                            <p class=" text-sm mb-0">
                                As the prefered partner, Bursa Malaysia offers a fair and orderly market that is easily accessible with diverse and innovative producs and services
                            </p>
                        </a>

                        <a class=" list-group-item list-group-item-action flex-column align-items-start py-4 px-4"
                            href="javascript:void(0)">
                            <div class=" d-flex w-100 justify-content-between">
                                <div>
                                    <div class=" d-flex w-100 align-items-center">
                                        <a class=" avatar avatar-xs mr-2 bg-white">
                                            <i class="fab fa-twitter text-blue"></i>
                                        </a>

                                        <h5 class=" mb-1">Twitter</h5>
                                    </div>
                                </div>

                                <small> 1 day ago </small>
                            </div>

                            <h4 class=" mt-3 mb-1">
                                <span class=" text-info"> ● </span> Misbun
                            </h4>

                            <p class=" text-sm mb-0">
                                As the prefered partner, Bursa Malaysia offers a fair and orderly market that is easily accessible with diverse and innovative producs and services
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h5 class="h3 mb-0">Languages</h5>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <div id="chartdiv3" style="width: 100%; height: 100%"></div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-secondary">
                    <h5 class="h3 mb-0">Recent Searches</h5>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <div id="chartdiv4" style="width: 100%; height: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>